@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #505758;
}

.pushdown-top {
  margin-top: 20px;
}

.image-style {
  object-position: center top;
  object-fit: cover;
  /* VH = view point can be used as percentages as well */
  height: 55vh;
  width: 100%;
  margin-bottom: 1rem;
}

.percentage-circle-container {
  width: 60%;
  height: 60%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-block-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.center-block-container button {
  transition: background-color 0.3s, color 0.3s;
}

.center-block-container input {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.vote-average-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.push-down {
  margin-top: 10rem;
}

.movie-poster-card:hover {
  background-color: (349, 94%, 58%, 0.34)
}

.image-container {
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 10px; 
  left: 10px;
  width: 30px; 
  height: 2rem; 
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}